@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Domine:wght@400;500;600;700&family=Hind:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #FFE4E4;
  font-family: "Domine", serif;
}

.background__image__main {
  background-image: url(/assets/img/BG.png);
  background-size: cover;
}

.nav__names, .nav__icons {
  text-decoration: none;
  font-family: "Hind", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #FFE4E4;
  font-size: 22px;
  padding-right: 2.5rem;
  transition: color 0.5s ease-in-out;
}
.nav__names:hover, .nav__icons:hover {
  color: rgb(111, 0, 202);
}

.nav__icons {
  padding-right: 1rem;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
  background: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  top: 0px;
  justify-content: space-around;
  z-index: 1;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 7rem;
  height: 70vh;
}

.main__container__vid {
  height: 55vh;
  width: auto;
}

.main__video {
  height: 100%;
  width: auto;
  margin-right: 3rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.4);
}

.main__container__text__main {
  color: #FFE4E4;
  font-family: "Domine", serif;
  font-size: 2rem;
}

.main__container__text__sub {
  color: #FFE4E4;
  font-family: "Cormorant", serif;
  font-size: 42px;
  font-weight: 200;
}

.h2__main {
  font-size: 1.5rem;
}

.arrow__center {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  color: #FFE4E4;
  font-size: 2rem;
  text-decoration: none;
  margin-bottom: 3rem;
}

.background__image__about {
  background-image: url(/assets/img/BG2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 3rem;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.about__container__video {
  height: 43vh;
}

.about__video {
  height: 100%;
  border-radius: 70px;
  object-fit: cover;
  border: 5px solid white;
}

.h1_about {
  font-size: 54px;
}

.about__container__title {
  font-family: "Cormorant", serif;
  color: #FFE4E4;
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 2rem;
}

.about__container__text {
  width: 50vh;
  font-family: "Hind", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #FFE4E4;
  margin-top: 4rem;
}

.grid_about {
  padding: 2rem 4rem 0 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4em;
}

.line__hello, .line__myportfolio {
  position: relative;
  top: 35rem;
  color: #FFE4E4;
  text-align: right;
  font-family: "Hind", sans-serif;
}

hr {
  height: 1px;
  background-color: white;
}

.line__myportfolio {
  top: 2rem;
}

.grid__img__3 {
  max-width: 30vw;
  padding-top: 3rem;
}

.icon__img {
  width: 20px;
  height: auto;
  padding: 0 1rem 0 1rem;
}

.location {
  display: flex;
  justify-content: center;
  color: #FFE4E4;
  padding: 1rem;
}

/*# sourceMappingURL=main.css.map */
