//Fonts
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Domine:wght@400;500;600;700&family=Hind:wght@300;400;500;600;700&display=swap");

//RESET
* {
  margin: 0;
  padding: 0;
}
//FONT VARIABLES
$font1: "Cormorant", serif;
$font2: "Domine", serif;
$font3: "Hind", sans-serif;
//COLOR VARIABLES
$color1: #FFE4E4;

h1{
    color: $color1;
    font-family:$font2;
}

//STYLE
.background__image__main {
  background-image: url(/assets/img/BG.png);
  //background-repeat: no-repeat;
  background-size: cover;
}
//NAV - HEADER

.nav__names {
  text-decoration: none;
  font-family: $font3;
  font-weight: 500;
  text-transform: capitalize;
  color: $color1;
  font-size: 22px;
  padding-right: 2.5rem;



  transition: color .5s ease-in-out;

    &:hover{
       
        color:black;
        font-weight: bold;
        
    }
}
.nav__icons{
    @extend .nav__names;
    padding-right: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}
//MAIN

.main__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    margin-top: 7rem;
}

.main__container__vid{
  height: 55vh;
  width: auto;
}

.main__video{
    height: 100%;
    width: auto;
    margin-right: 3rem;
    border-radius: 50%;
    object-fit: cover;
    //border: 5px solid #FFFF;
    box-shadow: 0 30px 40px rgb(0 0 0 / 40%);
}

.main__container__text__main{
    color: $color1;
    font-family:$font2;
    font-size: 2rem;
}

.main__container__text__sub{
    color:$color1;
    font-family: $font1;
    font-size: 42px;
    font-weight: 200;
}
.h2__main{
    font-size: 1.5rem;
}
.arrow__center{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    color:$color1;
    font-size: 2rem;
    text-decoration: none;
    margin-bottom: 3rem;
}


// ABOUT

.background__image__about {
    background-image: url(/assets/img/BG2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 3rem;
  }
.about__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__container__video{
    height: 43vh;
}

.about__video{
    height: 100%;
    border-radius: 70px;
    object-fit: cover;
    border: 5px solid #FFFF;
}

.h1_about{
    font-size: 54px;
    
}
.about__container__title{
    font-family: $font1;
    color:$color1;
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 2rem;
}
.about__container__text{
    width: 50vh;
    font-family: $font3;
    font-size: 10px;
    font-weight: 400;
    color: $color1;
    margin-top: 4rem;
}

.grid_about{
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
}
.line__hello{
    position: relative;
    top: 35rem;
    color:$color1;
    text-align: right;
    font-family: $font3;
}
hr {
    height: 1px;
    background-color: white;
  }

.line__myportfolio{
    @extend .line__hello;
    top: 2rem;
    
}
.grid__img__3{
    max-width: 30vw;
}